<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--1.配置dubbo的应用名称,在Zookeeper中显示应用名称(要求：服务器提供者还是服务消费者d的名称是不能重复的)-->
    <dubbo:application name="dubbo_consumer"></dubbo:application>

    <!--2.配置dubbo注册中心Zookeeper的地址-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"></dubbo:registry>
<!--    &lt;!&ndash;3.配置订阅的业务接口,及其引用,使用id引用Controllerl类中的接口属性名称&ndash;&gt;
    <dubbo:reference interface="com.itheima.service.UserService" id="userService"></dubbo:reference>-->

    <!--使用Dubbo的组件扫描(Dubbo的注解配置)-->
    <dubbo:annotation package="com.itheima"></dubbo:annotation>
</beans>