<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--1.配置dubbo的应用名称,在Zookeeper中显示应用名称(要求：服务器提供者还是服务消费者d的名称是不能重复的)-->
    <dubbo:application name="dubbo_provider"></dubbo:application>

    <!--2.配置dubbo注册中心Zookeeper的地址-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"></dubbo:registry>

    <!--配置Dubbo的协议(dubbo协议,默认端口20880(也可以改))-->
<!--    <dubbo:protocol name="dubbo" port="20881"></dubbo:protocol>-->

    <!--配置rmi的协议-->
    <dubbo:protocol name="rmi" port="1099"></dubbo:protocol>

    <!--3.配置需要操作的业务接口及实例-->
<!--    <dubbo:service interface="com.itheima.service.UserService" ref="userService"></dubbo:service>
    <bean id="userService" class="com.itheima.service.impl.UserServiceImpl"></bean>-->

    <!--使用dubbo的组件扫描(注解的配置),在Service的实现类上添加@Service,@Service是dubbo的jar报-->
    <dubbo:annotation package="com.itheima"></dubbo:annotation>
</beans>